<header>
    {{> Header }}
</header>
<main class="page">
    <h1>{{changePasswordFormTitle}}</h1>
    <form class="form">
        {{#each changePasswordFormFields}} 
        <div class="form-item">
            <label>
                {{label}}
            </label>
            <input class="form-item_input" name="{{name}}" placeholder="{{placeholder}}"/>
        </div>
        {{/each}}
        <div>
            {{>SubmitBtn text='Сохранить изменения'}}
        </div>
    </form>
</main>
