
<header>
    {{>Header}}
</header>
<main class="page">
    <div class="chat-container">
        <div class="chat-list-container">
            *Список чатов*
        </div>
        <div class="chat-area-container">
            *Сообщения и их отправка*
        </div>
    </div>
</main>
