<div class="avatar-stub"><img src="icons/{{iconName}}" /></div>
<div class="chat-list-item_props">
    <div class="chat-list-item_displayed-name">{{{displayName}}}</div>
    <div class="chat-list-item_last-message-text">{{{lastMessageText}}}</div>
</div>
