<input class="avatar-input" type="file" name="avatar" form="user-settings-form" accept="image/*" id="avatar-upload">
<label for="avatar-upload" class="avatar-label">
    <img id="avatar-preview" class="avatar-preview" type="image/svg+xml" src="/icons/account_circle.svg" alt="avatar">
</label>
