<div class="chat-header-profile-wrapper">
    <div class="avatar-stub"><img src="icons/{{iconName}}"/></div>
    <div class="chat-header-item_props">
        <div class="chat-list-item_displayed-name">{{{displayName}}}</div>
        <div class="chat-list-item_last-message-text">{{{lastOnline}}}</div>
    </div>
</div>
<div>
    <img alt="chat_settings" src="icons/extra_icon.svg" />
</div>