
  <div class="error-container">
    <div class="error-code">
      {{errorCode}}
    </div>
    <div class="error-message">
      {{errorMessage}}
    </div>
    <div>
      {{{link}}}
    </div>
  </div>
